<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
   
    
    <div class="  w-full h-full bg-zinc-700 p-10 ">
       
        <h1 class="text-xl tracking-tighter text-zinc-400 mb-3 ">Update User Details</h1>

       
            <form action="/update/:<%= edituser._id %>" method="post">
                <input class=" px-3 py-1 border-2 border-zinc-800 outline-no rounded-lg " type="text" placeholder="image url" name="image" value="<%= edituser.image %>">
                <input class=" px-3 py-1 border-2 border-zinc-800 outline-no rounded-lg " type="text" placeholder="Name" name="name" value="<%= edituser.name %>">
                
                <input class=" px-3 py-1 border-2 border-zinc-800 outline-no rounded-lg " type="email" placeholder="email" name="email" value="<%= edituser.email %>">
                <button class="bg-blue-500 mb-5 px-4 py-2 text-black rounded-lg">Update</button>
            </form>

            <a class="text-black-300  px-5 py-3 bg-yellow-600  rounded-lg" href="/show"> Show All User</a>
      
       
    </div>
   
    
   
</body>
</html>